@mixin mobile{
    @media screen and (max-width:480px){
        @content
    }
  }

.podecast{
    flex:1;
    background: #1a1919;
    padding: 50px ;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-behavior: smooth;
   
    -webkit-overflow-scrolling: touch;
    h1{
        color: white;
        font-family: sans-serif;
        font-weight: 900;
        margin-left: 40px;
        border-bottom: 2px solid #ED0EF1;
        width: fit-content;
        padding-bottom: 2px;
    }
    .podecast__Container{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px;
        .podecast__Card{
            height: 270px;
            width: 200px;
            background: black;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;
            transition: 0.5s all ease;
            @include mobile(){
                height: 300px;
                width: 200px;
            }
            &:hover{
                  .podecast__Card--play{
                    display: block;
              
                  }}
            .podecast__Card--play{
                display: none;
               width: fit-content;
                position: absolute;
                size: 50px;
                right: 5px;top:100px;
                fill:#19C2E8;
                background-color: black;
                border-radius: 40px;
            }
            
          
            img{
                height: 140px;
                width: 200px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;

            }
            .podecast__Card--info{
                display: flex;
                color: rgb(212, 212, 212);
                font-size: 12px;
                font-weight: 500;
                flex-direction: column;
                gap: 10px;
                padding: 0 20px;
                font-family: sans-serif;
                .podecast__Card--artist{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    img{
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                    }
                }
                p{
                    overflow: hidden;
                    font-size: 10px;
      
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
               
            }
        }
    }
}